.description,
.card-description,
.footer-big p {
  color: #636161;
  font-weight: 300; }


.btn-outline-primary {
    color: #2CA8FF;
    border-color: #2CA8FF; }

.blockquote {
    border-left: none;
    border: 1px solid #888888;
    padding: 20px;
    font-size: 2em;
    line-height: 1.8; }

  .landing-page .link {
      font-size: 10px;
      color: #2CA8FF;
      text-decoration: none;
  }

  .submit-button{
    background-color: #2CA8FF;
  }

  .challenge-textfield{
    height: 100px;
    position: relative;
    margin-right: 100px;
    vertical-align: top
  }

  .form-label{
    width: 200px
  }

  .background{
    position: absolute;
    background-size: cover;
    background-position: 50%;
    background-position-x: 50%;
    background-position-y: center;
    width: 100%;

    z-index: -1;
  }

  .profile_photo{
    width: 123px;
    height: 123px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3); }

    .ccp {
    width: 80%;
    font-size: 16px;
    border-spacing: 15px;
}

.back-btn{
  align: center;
  font-size: 1em;
  margin:0 auto;
  display:block;
}

.category{
  color: black !important;
}
